*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    
   
}

.navbar{
    background-color: hsla(27, 84%, 53%, 0.227);
    
}
.navbar-brand{
    padding-right: 17%;
    padding-left: 7%;
}
.navbar-brand img{
    border-radius: 10%;
}
navbar-toggler{
    float: right;
}
.text h3{
    padding-top: 10%;
    padding-bottom:5%;
    color:#6262e0;
}
.container{
    padding-top: 3%;
   
}
#carouselExampleControls{
    padding-left: 30%;
    padding-top: 10%;
}
.main_body{
    background-color:#dbd5be;
    padding-bottom: 5%;
}
.footer{
 
    padding-bottom: 10%;
    background-color: #edbf71;
}
.text h4{
    padding-top: 5%;
    padding-bottom:1%;
    color:#6262e0;
}

.navbar-toggler{
    margin-right:3%;
}
h5{
    color: brown;
}
.d-flex{
    padding-bottom: 99%;
    width: 90%;
    padding-left: 5%;
}
#offcanvasNavbar{
background-color: #a7d9dd;
}

/* tablet : width >=740px and width <1024px */
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
 .card{
    margin: auto;
 }
 .navbar{
     margin: auto;
 }
 .container-fluid img{
    width: 15%;
    border-radius: 7px;
 }
}
/* mobile  width: <740px*/
@media only screen and (max-width:46.1875em){
    .card{
        margin: auto;
    }
    .container-fluid img{
        width: 25%;
        border-radius: 7px;
     }
     .main_top{
        padding-top: 17%;
    }
}
/* pc */
@media only screen and (min-width:64em){
    .card{
        margin: auto;
    }
    .container-fluid img{
        width: 15%;
        border-radius: 7px;
     }
}
