*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    
   
}
.menu{
    background-color: #edbf71;
  
}
.container-fluid{
    margin-top:3%;
}
.navbar-brand{
    padding-right: 17%;
    padding-left: 7%;
}
.navbar-brand img{
    border-radius: 10%;
}
navbar-toggler{
    float: right;
}
.text h3{
    padding-top: 10%;
    padding-bottom:5%;
    color:#6262e0;
}
.container{
    padding-top: 3%;
   
}
.main_body{
    background-color:#dbd5be;
    padding-bottom: 5%;
}
.footer{
 
    padding-bottom: 10%;
    background-color: #edbf71;
}
.text h4{
    padding-top: 5%;
    padding-bottom:1%;
    color:#6262e0;
}
#carouselExampleControls{
    padding-top: 5%;
    padding-left: 30%;
}
/* tablet : width >=740px and width <1024px */
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
 .card{
    margin: auto;
 }
 .navbar{
     margin: auto;
 }
}
/* mobile  width: <740px*/
@media only screen and (max-width:46.1875em){
    .card{
        margin: auto;
    }
}
/* pc */
@media only screen and (min-width:64em){
    .card{
        margin: auto;
    }
}
